.header-hold {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    margin: 0 0 8px;
    
    @media ($media1) {
      margin: 0 0 sizeIns(8,px);

      & svg {
        width: auto;
        height: sizeIns(29,px);
      }
    }
  }

  &__slogan {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;

    @media ($media1) {
      font-size: sizeIns(8,px);
      line-height: sizeIns(12,px);
    }
  }

}