.section-hold {
  display: flex;
  justify-content: center;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media ($media3) {
    max-width: sizeIns(950,px,$media3);
    padding: 0 sizeIns(15,px,$media3);
  }

  @media ($media2) {
    max-width: sizeIns(950,px,$media2);
    padding: 0 sizeIns(15,px,$media2);
  }

  @media ($media1) {
    max-width: sizeIns(950,px,$media1);
    padding: 0 sizeIns(15,px,$media1);
  }

  @media ($media4) {
    max-width: sizeIns(524,px,$media4);
  }

  @media ($media5) {
    max-width: sizeIns(524,px,$media5);
  }

  @media (max-width: 639px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .section-main & {
    width: 100%;
    max-width: 100%;
    background-image: url("/assets/img/bg-main.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
  }
}