html {
  font-size: 14px;

  @media ($media3) {
    font-size: sizeIns(14,px,$media3);
  }

  @media ($media2) {
    font-size: sizeIns(14,px,$media2);
  }

  @media ($media1) {
    font-size: sizeIns(14,px,$media1);
  }

  @media ($media4) {
    font-size: sizeIns(14,px,$media4);
  }

  @media ($media5) {
    font-size: sizeIns(14,px,$media5);
  }
}
html, body {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', sans-serif;
}

main {
  display: block;
  flex-grow: 1;
}

svg {
  flex-shrink: 0;
  display: block;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

.text-center {
  text-align: center;
}

.text-mark span {
  color: #fff;
  position: relative;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(/assets/img/bg-title.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
